{% extends 'base.html' %}

{% block title %}
<title>Sold Admin - Add new content</title>
<script src="{{ url_for('static',path='js/pages/app-cms.js') }}"></script>

{% endblock %}

{% block content %}

<main x-data="appCms" class="h-full">
    <div>
        <div
            class="px-5 pt-8 block sm:flex items-center justify-between lg:mt-1.5 bg-white dark:bg-gray-800 dark:border-gray-700">
            <div class="w-full mb-1">
                <div class="mb-6">
                    <nav class="flex mb-5" aria-label="Breadcrumb">
                        <ol class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2">
                            <li class="inline-flex items-center">
                                <a href="#"
                                    class="inline-flex items-center text-gray-700 hover:text-primary-600 dark:text-gray-300 dark:hover:text-white">
                                    <svg class="w-5 h-5 mr-2.5" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                                        </path>
                                    </svg>
                                    Home
                                </a>
                            </li>
                            <li>
                                <div class="flex items-center">
                                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    <a href="#"
                                        class="ml-1 text-gray-700 hover:text-primary-600 md:ml-2 dark:text-gray-300 dark:hover:text-white">App
                                        Cms</a>
                                </div>
                            </li>
                            <li>
                                <div class="flex items-center">
                                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    <span class="ml-1 text-gray-400 md:ml-2 dark:text-gray-500" aria-current="page">Add
                                        New</span>
                                </div>
                            </li>
                        </ol>
                    </nav>
                    <h3 class="text-[1.4rem] font-semibold text-gray-900 sm:text-2xl dark:text-white">
                        Add Content
                    </h3>
                </div>

            </div>
        </div>

        <div class="px-4 pt-5 dark:bg-gray-900">
            <div>
                <div
                    class="mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700  dark:bg-gray-800">

                    <form class="validate-form p-4 sm:p-6" @submit.prevent="addCms()">
                        <div class="grid grid-cols-6 gap-y-5 gap-x-6 mb-5">
                            <div class="col-span-6 sm:col-span-3 relative">
                                <label for="cms-title"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
                                <input type="text" name="title" id="cms-title" required pattern="\S+.*" x-ref="titleCtrl" @input="onEditTitle()"
                                    class="py-2.5 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                    placeholder=" " :value="title[titleLocale]" required>

                                <div class="absolute space-x-1 flex end-2 bottom-2">
                                    <template x-for="(lang, index) in langList" :key="lang">
                                        <button @click="activeTitleLocale = lang" type="button"
                                            :class="titleLocale===lang && 'text-white focus:bg-blue-700 bg-blue-700 hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700'"
                                            class="hover:bg-gray-300 dark:hover:bg-gray-700 dark:text-gray-300 border font-medium rounded-lg text-sm h-7 w-8 text-center">
                                            <a x-text="lang"> </a>
                                        </button>
                                    </template>
                                </div>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="cms-slug"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Slug</label>
                                <input x-ref="cmsSlug" :value="title['en'].replaceAll(' ', '-').toLowerCase()"
                                    type="text" name="cms-slug" id="cms-slug"
                                    class="py-2.5.5 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                    placeholder=" " required disabled>
                            </div>

                        </div>
                        <div class="relative">
                            <label for="app-name"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                            <div class="text-base" id="editor">
                            </div>

                            <div class="absolute space-x-1 flex end-2 bottom-2">
                                <template x-for="(lang, index) in langList" :key="lang">
                                    <button @click="activeDescriptionLocale = lang" type="button"
                                        :class="descriptionLocale===lang && 'text-white focus:bg-blue-700 bg-blue-700 hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700'"
                                        class="hover:bg-gray-300 dark:hover:bg-gray-700 dark:text-gray-300 border font-medium rounded-lg text-sm h-7 w-8 text-center">
                                        <a x-text="lang"> </a>
                                    </button>
                                </template>
                            </div>
                        </div>
                        <div class="flex justify-end mt-4">
                            <button type="submit"
                                class="px-4 flex items-center py-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700">
                                Save Content
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</main>
<script>
    let title = {'en': '', 'fr': '', 'he': ''};
    let content = {'en': '', 'fr': '', 'he': ''};
</script>
{% endblock %}