{% extends 'base.html' %}

{% block title %}
<title>Sold Admin - App Languages</title>
<script src="{{ url_for('static',path='js/pages/app-languages.js') }}"></script>

{% endblock %}

{% block content %}

<main x-data="languagesPage" class="h-full">

    <div x-data='{
        searchFieldModel: "",
        languages: {{languages | tojson}},
        get filteredLanguages() {
            return this.languages.filter(
                i => i["name"].toLowerCase().startsWith(this.searchFieldModel.toLowerCase())
            )
        }
    }'>
        <div
            class="px-5 pt-8 block sm:flex bg-white items-center justify-between lg:mt-1.5 dark:bg-gray-800 dark:border-gray-700">
            <div class="w-full mb-1">
                <div class="mb-4">
                    <nav class="flex mb-5" aria-label="Breadcrumb">
                        <ol class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2">
                            <li class="inline-flex items-center">
                                <a href="#"
                                    class="inline-flex items-center text-gray-700 hover:text-primary-600 dark:text-gray-300 dark:hover:text-white">
                                    <svg class="w-5 h-5 mr-2.5" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                                        </path>
                                    </svg>
                                    Home
                                </a>
                            </li>
                            <li>
                                <div class="flex items-center">
                                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    <a href="#"
                                        class="ml-1 text-gray-700 hover:text-primary-600 md:ml-2 dark:text-gray-300 dark:hover:text-white">Administrator</a>
                                </div>
                            </li>
                            <li>
                                <div class="flex items-center">
                                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    <span class="ml-1 text-gray-400 md:ml-2 dark:text-gray-500"
                                        aria-current="page">Languages</span>
                                </div>
                            </li>
                        </ol>
                    </nav>
                    <h3 class="text-[1.4rem] font-semibold text-gray-900 sm:text-2xl dark:text-white">App Languages</h3>
                </div>
                <div class="sm:flex mb-5 justify-between">
                    <div
                        class="items-center hidden sm:flex sm:divide-x sm:divide-gray-100 sm:mb-0 dark:divide-gray-700">
                        <form class="lg:pr-3" action="#" method="GET">
                            <label class="sr-only">Search</label>
                            <div class="relative lg:w-64 xl:w-96 flex items-center">

                                <span class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none z-10">
                                    <svg class="w-5 h-5 text-gray-400" fill="none" stroke="currentColor" stroke-width="2"
                                         viewBox="0 0 24 24">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 21l-4.35-4.35m0 0A7 7 0 104.64 4.64a7 7 0 0011.31 11.31z" />
                                    </svg>
                                </span>

                                <div class="flex gap-2">
                                    <input type="text" name="q"
                                           value="{{ request.query_params.get('q', '') }}"
                                           class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg w-80 pl-10 pr-3 py-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                                           placeholder="Search language">

                                    <button type="submit"
                                            class="px-4 ml-2 flex items-center py-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700">
                                        Search
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="px-4 pt-5 dark:bg-gray-900">
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-[0.85rem] text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-4 w-10">
                                SL
                            </th>
                            <th scope="col" class="px-6 py-4">
                                Name
                            </th>
                            <th scope="col" class="px-6 py-4">
                                Code
                            </th>
                            <th scope="col" class="px-6 py-4">
                                Status
                            </th>
                            <th scope="col" class="px-6 py-4">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <template x-for="(language, index) in filteredLanguages" :key="language['code']">
                            <tr
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <th scope="row"
                                    class="w-10 px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    <a x-text="index + 1"></a>
                                </th>
                                <td class="px-6 py-4">
                                    <a class="text-lg me-2" x-text="language['flag']"></a><a
                                        x-text="language['name']"></a>
                                </td>
                                <td class="px-6 py-4">
                                    <a x-text="language['code']"></a>
                                </td>
                                <td class="px-6 pt-3">
                                    <label class="inline-flex items-center cursor-pointer">
                                        <input x-model="language['status']"
                                            @change="changeLanguageStatus(language['code'])"
                                            :id="'lang-' + language['code']" type="checkbox" class="sr-only peer m-auto"
                                            :disabled="language['default']">
                                        <div
                                            class="peer-disabled:bg-blue-300 relative w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
                                        </div>
                                    </label>
                                </td>
                                <td class="py-4 w-[9.5rem]">
                                    <button type="button"
                                        @click="window.location = '/admin/language/localization?lang='+ language['code']"
                                        class="text-blue-700 hover:text-white border border-blue-700 hover:bg-primary font-medium rounded-lg text-sm px-3 py-2 text-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500">Translated
                                        Data</button>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{% endblock %}