{% extends 'base.html' %}

{% block title %}
<title> Admin dashboard </title>
{% endblock %}

{% block content %}

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click"
      data-menu="vertical-menu-modern" data-col="">

 {% include 'header.html' %}

 {% include 'sidebar.html' %}

<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Dashboard</h2>
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a>
                                </li>

                                <li class="breadcrumb-item active">Dashboard
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="content-body">
            <section id="statistics-card">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="card">
                            <div class="card-header align-items-start pb-0">
                                <div>
                                    <h2 class="font-weight-bolder">78.9k</h2>
                                    <p class="card-text">Site Traffic</p>
                                </div>
                                <div class="avatar bg-light-primary p-50">
                                    <div class="avatar-content">
                                        <i data-feather="monitor" class="font-medium-5"></i>
                                    </div>
                                </div>
                            </div>
                            <div id="line-area-chart-5"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="card">
                            <div class="card-header align-items-start pb-0">
                                <div>
                                    <h2 class="font-weight-bolder">659.8k</h2>
                                    <p class="card-text">Active Users</p>
                                </div>
                                <div class="avatar bg-light-success p-50">
                                    <div class="avatar-content">
                                        <i data-feather="user-check" class="font-medium-5"></i>
                                    </div>
                                </div>
                            </div>
                            <div id="line-area-chart-6"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="card">
                            <div class="card-header align-items-start pb-0">
                                <div>
                                    <h2 class="font-weight-bolder">28.7k</h2>
                                    <p class="card-text">Newsletter</p>
                                </div>
                                <div class="avatar bg-light-warning p-50">
                                    <div class="avatar-content">
                                        <i data-feather="mail" class="font-medium-5"></i>
                                    </div>
                                </div>
                            </div>
                            <div id="line-area-chart-7"></div>
                        </div>
                    </div>
                </div>
                <!--/ Line Chart Card -->
            </section>
            <!--/ Statistics Card section-->

        </div>
    </div>
</div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light">
        <p class="clearfix mb-0"><span class="float-md-left d-block d-md-inline-block mt-25">COPYRIGHT &copy; 2021<a class="ml-25" href="https://1.envato.market/pixinvent_portfolio" target="_blank">Pixinvent</a><span class="d-none d-sm-inline-block">, All rights Reserved</span></span><span class="float-md-right d-none d-md-block">Hand-crafted & Made with<i data-feather="heart"></i></span></p>
    </footer>
    <button class="btn btn-primary btn-icon scroll-top" type="button"><i data-feather="arrow-up"></i></button>
    <!-- END: Footer-->




<!-- BEGIN: Vendor JS-->
<script src="{{ url_for('static', path='/vendors/js/vendors.min.js') }}"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
<script src="{{ url_for('static', path='/vendors/js/charts/apexcharts.min.js') }}"></script>
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="{{ url_for('static', path='/js/core/app-menu.js') }}"></script>
<script src="{{ url_for('static', path='/js/core/app.js') }}"></script>
<!-- END: Theme JS-->

<!-- BEGIN: Page JS-->
<script src="{{ url_for('static', path='/js/scripts/cards/card-statistics.js') }}"></script>
<!-- END: Page JS-->


<script>
    $(window).on('load', function () {
        if (feather) {
            feather.replace({
                width: 14,
                height: 14
            });
        }
    })
</script>
</body>
{% endblock %}
